#RemoveButton{
    padding-top: 23px;
    height: 15px;
}

.section .row{
    margin-top: 7%;
    margin-bottom: 10%;
}
.section .row .col-md-6{
    background: #f5f5f5;
    margin-right: -2%;
    padding: 5%;
}
.section h3{
    color: #004085;
}
.section p{
    margin-top: 10%;
    color: #545b62;
}
.section img
{
    width: 70%;
}

#paragraph{
    padding-left: 10px;

}

.title h3{
    font-size: 25px !important;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.4em !important;
    font-weight: 300;
    text-align: center;
}

.container h4 {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 30px;
}



img.rounded {
    border-radius: 6px!important;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}


.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-top:100px;
}
.mb-60 {
    margin-bottom: 60px;
}
.section-title p {
    font-size: 24px;
    font-family: Oleo Script;
    margin-bottom: 0px;
    margin-top:50px;
}
.section-title h4 {
    font-size: 40px;
    text-transform: capitalize;
    color: #FF5E18;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
}
.section-title h4::before {
    width: 80px;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
    position: absolute;
    content: "";
    background-color: #FF5E18;
}
.single_menu_list img {
    max-width: 30%;
    position: absolute;
    left: 0px;
    top: 0;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 50%;
    transition: .4s;
}

.menu_style1 .single_menu_list img {
    position: static;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}
.single_menu_list h4 {
    font-size: 20px;
    border-bottom: 1px dashed #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.single_menu_list h4 span {
    float: right;
    font-weight: bold;
    color: #FF5E18;
    font-style: italic;
}
p {
    font-weight: 300;
    font-size: 14px;
}
.menu_style1 .single_menu_list {
    text-align: center;
}
.single_menu_list:hover img {
    border-radius: 0;
    transition: .4s;
}

#containerForRestaurantDisplay{
    padding-top: 20px;
}

